{% extends 'base.html' %}
{% block body_class %}page-articles{% endblock %}
{% block content %}
<h1 class="page-title">Полезные статьи</h1>
<div class="card-list">
  {% for article in articles %}
    <div class="card">
      <h2>{{ article.title }}</h2>
      <p class="date">{{ article.published_at|date:"d.m.Y" }}</p>
      <p>{{ article.content|truncatewords:30 }}</p>
      <a href="{% url 'article_detail' article.id %}" class="btn">Читать далее</a>
    </div>
  {% endfor %}
</div>
{% endblock %}
